@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
@import "tailwindcss";


* {
  font-family: 'Poppins', sans-serif;
}
.typing {
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid #a855f7;
  width: 0;
  animation: typing 2.5s steps(25, end) forwards, blink 0.8s infinite;
}

.typing.delay {
  animation-delay: 2.7s;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink {
  50% { border-color: transparent }
}
